/* The following is specifically for the elements on our web builder*/
#hamburger-menu-icon {
    color: white;
    left: -.5em;
    font-size: 2.2em;
    position: absolute;
    top: .5em;
}
.text-container {
    margin: 0 auto;
    margin-bottom: 1em;
    width: 90%;
    text-align: center;
}
.cta-container {
    padding: 1em 0;
}
.btn-center {
    height:70px;
    margin:auto 0;
}
.btn-cta, .lite-cta {
    text-decoration: none;
    text-transform: uppercase;
    padding:12px;
    transition:220ms;
    width:150px;
    color: black;
}
.btn-cta {
    border:1px solid black;
    border-radius: 10px;
    background-color: white;
}
.btn-cta:hover {
    color: white;
    background-color: black;
}
.lite-cta:hover {
    color: red;
}

.currently-selected {
    border: blue 1px solid;
}

.text-overlay {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateY(-50%);
}
/*This is CSS for the user inputs*/

section.template {
  border: dashed 2px gray;
  height: 250px;
}
section.template i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5em;
  transform: translate(-50%, -50%);
  color: gray;
  box-shadow: 1px 1px 1px 1px #888;
  border-radius: 50%;
}
section.template i:active {
  box-shadow: 1px 1px 1px 3px #888;
}
#user-input-menu {
  position: fixed;
  height: 100vh;
  width: 33%;
  top: 0;
  left: -33%;
  background: #06aaf6;
  z-index: 5;
  transition: all .2s ease;
  opacity: .8;
}

/*HOME VIEW CSS STYLING*/
#home-view > img, #home-view-login > img  {
    width: 200px;
    margin: 0 auto;
    display: block;
}
#home-view > form > input, #home-view-login > form > input {
    background: none;
    border: none;
    border-bottom: solid 1px white;
    color: white;
    display: block;
    font-size: 1.2em;
    margin: 1em auto;
}
#home-view > form > input:focus, #home-view-login > form > input:focus {
  outline: none;
} 
/*TO DEAL WITH PLACEHOLDER*/
#home-view > form > input::-webkit-input-placeholder, #home-view-login > form > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  opacity: .7;
}
#home-view > form > input::-moz-placeholder, #home-view-login > form > input::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: .7;
}
#home-view > form > input:-ms-input-placeholder, #home-view-login > form > input:-ms-input-placeholder { /* IE 10+ */
  color: white;
  opacity: .7;
}
#home-view > form > input:-moz-placeholder, #home-view-login > form > input:-moz-placeholder { /* Firefox 18- */
  color: white;
  opacity: .7;
}

#home-view > form > button, #home-view-login > form > button  {
    background: #003459;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 13px -2px #222;
    color: white;
    display: block;
    font-size: .8em;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em;
}
#home-view > form > button:active, #home-view-login > form > button:active {
    box-shadow: 2px 2px 13px 0px #222;
    outline: none;
    transform: scale(.95);
    transition: all .21s ease;
} 

/*LOGIN VIEW CSS STYLING*/
#home-view-login > a, #home-view > a {
    color: white;
    display: block;
    font-family: sans-serif;
    font-size: .6em;
    padding: 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

/*CREATE VIEW CSS STYLING*/

.template-body > article > img {
    width: 30% !important;
}
.template-body {
    background: #06aaf6 !important;
    margin: 0 auto;
    width: 90%;
}
.create-view-header {
    background: #003459;
    margin-bottom: 2em;
    text-align: center;
}
.create-view-header > img {
    width: 90px;
}
.create-view-header > h1 {
    color: white;
    font-family: sans-serif;
    font-size: .8em;
    margin: 0;
    padding-bottom: .5em;
    text-transform: uppercase;
}

/*SIGN IN VIEW ERROR*/
#error-block {
    background: #F17105;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    color: white;
    display: block;
    font-family: sans-serif;
    font-size: .5em;
    margin: 0 auto;
    opacity: 0;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
    width: 42%;
}
